# Appendix: Python Language Essentials

In [ ]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import *
import pandas
np.set_printoptions(precision=4)

## The Python interpreter

```
$ python
Python 2.7.2 (default, Oct  4 2011, 20:06:09)
[GCC 4.6.1] on linux2
Type "help", "copyright", "credits" or "license" for more information.
>>> a = 5
>>> print (a) # python 3에서는 print가 함수로 바뀌어서 ()안에다 써주어야함.
5
```

In [ ]:
%%writefile hello_world.py
print 'Hello world'

```
$ ipython
Python 2.7.2 |EPD 7.1-2 (64-bit)| (default, Jul  3 2011, 15:17:51)
Type "copyright", "credits" or "license" for more information.

IPython 0.12 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%quickref -> Quick reference.
help      -> Python's own help system.
object?   -> Details about 'object', use 'object??' for extra details.

In [1]: %run hello_world.py
Hello world

In [2]:
```

## The Basics

### Language Semantics

#### Indentation, not braces

for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x) # 파이썬에서는 중괄호 {} 안씀

for x in array {
        if x < pivot {
            less.append(x)
        } else {
            greater.append(x)
        }
    }

for x in array
    {
      if x < pivot
      {
        less.append(x)
      }
      else
      {
        greater.append(x)
      }
    }

a = 5; b = 6; c = 7

#### Everything is an object    모든 것들은 객체다

#### Comments       주석   ###

In [ ]:
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))

#### Function and object method calls

In [ ]:
result = f(x, y, z)
g()

In [ ]:
obj.some_method(x, y, z)

In [ ]:
result = f(a, b, c, d=5, e='foo')

#### Variables and pass-by-reference

In [6]:
a = [1, 2, 3]

In [10]:
b = a       # a가 가르키는 메모리 주소값이 저장됨.!!!

In [8]:
a.append(4)       # 그래서 a에 4를 추가했으나, b에도 동일하게 저장이 됨.
b

[1, 2, 3, 4]

In [ ]:
def append_element(some_list, element):
    some_list.append(element)

In [ ]:
data = [1, 2, 3]

append_element(data, 4)

In [4]: data
Out[4]: [1, 2, 3, 4]

In [42]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

#### Dynamic references, strong types

In [ ]:
a = 5
type(a)
a = 'foo'
type(a)

In [ ]:
'5' + 5

In [ ]:
a = 4.5
b = 2
# String formatting, to be visited later
print 'a is %s, b is %s' % (type(a), type(b))
a / b

In [ ]:
a = 5
isinstance(a, int)

In [ ]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

#### Attributes and methods

In [1]: a = 'foo'

In [2]: a.<Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith

>>> getattr(a, 'split')
<function split>

In [11]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [20]:
isiterable('a string')
isiterable(5)

False

#### "Duck" typing

In [15]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [22]:
isiterable('a string')
isiterable([1, 2, 3])
isiterable(5)

False

if not isinstance(x, list) and isiterable(x):
    x = list(x)

#### Imports

In [25]:
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b

In [37]:
import some_module
result = some_module.f(5)
pi = some_module.PI

In [35]:
from some_module import f, g, PI ###############33
result = g(5, PI)

In [38]:
import some_module as sm                          ######## 모듈의 이름을 써줌 sm으로
from some_module import PI as pi, g as gf               # PI, g 바꿔주고.    as

r1 = sm.f(pi)
r2 = gf(6, pi)

#### Binary operators and comparisons

In [ ]:
5 - 7             ## 이항연산자 / 비교연산자. 
12 + 21.5
5 <= 2

In [47]:
a = [1, 2, 3]
b = a
# Note, the list function always creates a new list
c = list(a)
a is b             # 같은 것을 가리킴
a is not c
a is c

True

True

False

In [48]:
a == c       # 값이 같음.

True

In [ ]:
a = None
a is None

#### Strictness versus laziness

In [50]:
a = b = c = 5
d = a + b * c

In [52]:
print (a,b,c,d)

5 5 5 30

#### Mutable and immutable objects      ##immutable 바꿀 수 없음

In [56]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list[1] = 'abc'
a_list                          #

['foo', 'abc', (3, 4)]

In [54]:
a_tuple = (3, 5, (4, 5))        # 튜플은 immutable 객체다.
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalar Types

#### Numeric types

In [57]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [58]:
fval = 7.243
fval2 = 6.78e-5

In [61]:
fval
fval2

7.243

6.78e-05

In [62]:
3 / 2

1.5

In [63]:
from __future__ import division

In [64]:
3 / float(2)

1.5

In [65]:
3 // 2

1

In [ ]:
cval = 1 + 2j
cval * (1 - 2j)

#### Strings

In [ ]:
a = 'one way of writing a string'
b = "another way"

In [ ]:
c = """
This is a longer string that
spans multiple lines
"""

In [67]:
a = 'this is a string'
a[10] = 'f'      # ctrl, shift -    => 분리됨.

TypeError: 'str' object does not support item assignment

In [68]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [69]:
a = 5.6
s = str(a)
s

'5.6'

In [74]:
s = 'python'
list(s)
s[:3]

['p', 'y', 't', 'h', 'o', 'n']

'pyt'

In [76]:
s = '12\\34'
print (s)        # () 쳐줘야함.

12\34

In [77]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [78]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [79]:
template = '%.2f %s are worth $%d'

In [80]:
template % (4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth $1'

#### Booleans

In [81]:
True and True
False or True

True

True

In [83]:
a = [1, 2, 3]
if a:
    print ('I found something!')

b = []
if not b:
    print('Empty!')

I found something!
Empty!

In [84]:
bool([]), bool([1, 2, 3])
bool('Hello world!'), bool('')
bool(0), bool(1)

(False, True)

(True, False)

(False, True)

#### Type casting

In [85]:
s = '3.14159'
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

float

3

True

False

#### None

In [86]:
a = None
a is None
b = 5
b is not None

True

True

In [87]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

In [88]:
add_and_maybe_multiply(1,2)

3

In [90]:
add_and_maybe_multiply(1,2,3)

9

#### Dates and times

In [99]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

29

30

In [100]:
dt.date()
dt.time()

datetime.date(2011, 10, 29)

datetime.time(20, 30, 21)

In [101]:
dt.strftime('%m/%d/%Y %H:%M')
dt.strftime('%Y-%m-%d')
dt.strftime('%y-%m-%d')

'10/29/2011 20:30'

'2011-10-29'

'11-10-29'

dt.replace(minite=0, second=0)

In [98]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [103]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [104]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta(17, 7179)

datetime.timedelta

In [105]:
dt
dt + delta    # dt2 가 되버림.    # 시간 날짜의 계산

datetime.datetime(2011, 10, 29, 20, 30, 21)

datetime.datetime(2011, 11, 15, 22, 30)

### Control Flow

#### If, elif, and else

In [123]:
if x < 0:
    print ('''It's negative''')

NameError: name 'x' is not defined

In [117]:
if x < 0:
    print ("It's negative")
elif x == 0:
    print ('Equal to zero')
elif 0 < x < 5:
    print ('Positive but smaller than 5')
else:
    print ('Positive and larger than 5')

NameError: name 'x' is not defined

In [124]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print ('Made it')

Made it

#### For loops

In [126]:
for value in collection:
    # do something with value

SyntaxError: unexpected EOF while parsing (<ipython-input-126-a4d957e1ca31>, line 2)

In [129]:
sequence = [1, 2, None, 4, None, 5] # 6개의 원소로 구성되어있음.
total = 0
for value in sequence:   # 원소 하나하나를 값으로 봄 / in 하나하나씩 값으로 넣어줌.
    if value is None:             
        continue
    total += value       # 정수값  + None => None값

In [130]:
total

12

In [132]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [133]:
for a, b, c in iterator:
    # do something

SyntaxError: unexpected EOF while parsing (<ipython-input-133-83e0921527b1>, line 2)

In [134]:
values=[(1,2), (3,4),(10,20)]

In [137]:
for value in values:
    print(value)

(1, 2)
(3, 4)
(10, 20)

In [138]:
for(k,y) in values:
    print("key : %d, value : %d"%(k,y))

key : 1, value : 2
key : 3, value : 4
key : 10, value : 20

#### While loops

In [142]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2         # 256을 계속 2로 나누면서

In [145]:
print(x)
print(total)

4
504

#### pass

In [ ]:
if x < 0:
    print 'negative!'
elif x == 0:
    # TODO: put something smart here
    pass                               # 아무일도 안하는 문장 . if문 다음 걸로 넘어감.
else:
    print 'positive!'

In [ ]:
def f(x, y, z):
    # TODO: implement this function!
    pass

#### Exception handling

In [146]:
float('1.2345')
float('something')

1.2345

ValueError: could not convert string to float: 'something'

In [149]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [156]:
attempt_float('dsgsgsdgsff')
attempt_float('123456')

'dsgsgsdgsff'

123456.0

In [154]:
attempt_float('1.2345')
attempt_float('something')

1.2345

'something'

In [ ]:
float((1, 2))

In [157]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [158]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [159]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [160]:
attempt_float(path,4)

NameError: name 'path' is not defined

In [ ]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

In [ ]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print 'Failed'
else:
    print 'Succeeded'
finally:
    f.close()

#### range and xrange

In [161]:
range(10)

range(0, 10)

In [162]:
range(0, 20, 2)    # 2씩 건너뛰어라
# 2.7 버전은 이 값을 다 보여주는데, 3.6은 range() 그대로 보여줌.

range(0, 20, 2)

In [163]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):         # len => length  길이 출력
    val = seq[i]

In [166]:
sqe = [1,2,3,4]
len(sqe)

4

In [167]:
sum = 0
for i in xrange(10000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

NameError: name 'xrange' is not defined

#### Ternary Expressions

In [ ]:
x = 5
value = 'Non-negative' if x >= 0 else 'Negative'

## Data structures and sequences

### Tuple

In [ ]:
tup = 4, 5, 6
tup

In [169]:
one_tuple=1;
one_tuple

1

In [171]:
type(one_tuple)

int

In [172]:
one1_tuple=1,
one1_tuple

(1,)

In [173]:
type(one1_tuple)

tuple

In [174]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [175]:
type(nested_tup)

tuple

In [176]:
tuple([4, 0, 2])
tup = tuple('string')
tup

(4, 0, 2)

('s', 't', 'r', 'i', 'n', 'g')

In [177]:
tuple([4,0,2],)

(4, 0, 2)

In [178]:
tup[0]

's'

In [ ]:
tup = tuple(['foo', [1, 2], True])     # 꼭 같은 타입 일 필요는 없음.
tup[2] = False   # tuple은 값을 바꿀 수 없는데, 값을 바꾸려고 해서 에러가 남.

In [180]:
# however
tup[1].append(3)                        # 원소 리스트에 append 값을 추가했기 때문에 에러없이 가능함.
tup

('foo', [1, 2, 3], True)

In [181]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [182]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples            # 튜플을 푸는 것

In [183]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [184]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [185]:
tup = 4, 5, (6, 7)
a, b, d = tup
d

(6, 7)

tmp = a
a = b
b = tmp

b, a = a, b


seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    pass

#### Tuple methods

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

### List

In [ ]:
a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

#### Adding and removing elements

In [ ]:
b_list.append('dwarf')
b_list

In [ ]:
b_list.insert(1, 'red')
b_list

In [ ]:
b_list.pop(2)
b_list

In [ ]:
b_list.append('foo')
b_list.remove('foo')
b_list

In [ ]:
'dwarf' in b_list

#### Concatenating and combining lists

In [ ]:
[4, None, 'foo'] + [7, 8, (2, 3)]

In [ ]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

In [ ]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

In [ ]:
everything = []
for chunk in list_of_lists:
    everything = everything + chunk

#### Sorting

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

In [ ]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

#### Binary search and maintaining a sorted list

In [ ]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

#### Slicing

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

In [ ]:
seq[3:4] = [6, 3]
seq

In [ ]:
seq[:5]
seq[3:]

In [ ]:
seq[-4:]
seq[-6:-2]

In [ ]:
seq[::2]

In [ ]:
seq[::-1]

### Built-in Sequence Functions

#### enumerate

In [ ]:

i = 0
for value in collection:
   # do something with value
   i += 1

In [ ]:
for i, value in enumerate(collection):
   # do something with value

In [ ]:
some_list = ['foo', 'bar', 'baz']
mapping = dict((v, i) for i, v in enumerate(some_list))
mapping

#### sorted

In [ ]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

In [ ]:
sorted(set('this is just some string'))

#### zip

In [ ]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zip(seq1, seq2)

In [ ]:
seq3 = [False, True]
zip(seq1, seq2, seq3)

In [ ]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('%d: %s, %s' % (i, a, b))

In [ ]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

In [ ]:
zip(seq[0], seq[1], ..., seq[len(seq) - 1])

#### reversed

In [ ]:
list(reversed(range(10)))

### Dict

In [ ]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

In [ ]:
d1[7] = 'an integer'
d1
d1['b']

In [ ]:
'b' in d1

In [ ]:
d1[5] = 'some value'
d1['dummy'] = 'another value'
del d1[5]
ret = d1.pop('dummy')
ret

In [ ]:
d1.keys()
d1.values()

In [ ]:
d1.update({'b' : 'foo', 'c' : 12})
d1

#### Creating dicts from sequences

In [ ]:
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [ ]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

#### Default values

In [ ]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

In [ ]:
value = some_dict.get(key, default_value)

In [ ]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

by_letter.setdefault(letter, []).append(word)

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [ ]:
counts = defaultdict(lambda: 4)

#### Valid dict key types

In [ ]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

### Set

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a | b  # union (or)
a & b  # intersection (and)
a - b  # difference
a ^ b  # symmetric difference (xor)

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [ ]:
{1, 2, 3} == {3, 2, 1}

### List, set, and dict comprehensions

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [ ]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

loc_mapping = dict((val, idx) for idx, val in enumerate(strings)}

#### Nested list comprehensions

In [ ]:
all_data = [['Tom', 'Billy', 'Jefferson', 'Andrew', 'Wesley', 'Steven', 'Joe'],
            ['Susie', 'Casey', 'Jill', 'Ana', 'Eva', 'Jennifer', 'Stephanie']]

In [ ]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') > 2]
    names_of_interest.extend(enough_es)

In [ ]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

In [ ]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [ ]:
In [229]: [[x for x in tup] for tup in some_tuples]

## Functions

In [ ]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [ ]:
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)

### Namespaces, scope, and local functions

In [ ]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print a

In [ ]:
def outer_function(x, y, z):
    def inner_function(a, b, c):
        pass
    pass

### Returning multiple values

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [ ]:
return_value = f()

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions are objects

In [ ]:

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [ ]:
import re  # Regular expression module

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value) # remove punctuation
        value = value.title()
        result.append(value)
    return result

In [ ]:
In [15]: clean_strings(states)
Out[15]:
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [ ]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [ ]:
In [22]: clean_strings(states, clean_ops)
Out[22]:
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [ ]:
In [23]: map(remove_punctuation, states)
Out[23]:
['   Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina',
 'West virginia']

### Anonymous (lambda) functions

In [ ]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

In [ ]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [ ]:
strings.sort(key=lambda x: len(set(list(x))))
strings

### Closures: functions that return functions

In [ ]:
def make_closure(a):
    def closure():
        print('I know the secret: %d' % a)
    return closure

closure = make_closure(5)

In [ ]:
def make_watcher():
    have_seen = {}

    def has_been_seen(x):
        if x in have_seen:
            return True
        else:
            have_seen[x] = True
            return False

    return has_been_seen

In [ ]:
watcher = make_watcher()
vals = [5, 6, 1, 5, 1, 6, 3, 5]
[watcher(x) for x in vals]

def make_counter():
    count = [0]
    def counter():
        # increment and return the current count
        count[0] += 1
        return count[0]
    return counter

counter = make_counter()

In [ ]:
def format_and_pad(template, space):
    def formatter(x):
        return (template % x).rjust(space)

    return formatter

In [ ]:
fmt = format_and_pad('%.4f', 15)
fmt(1.756)

### Extended call syntax with *args, **kwargs

In [ ]:
a, b, c = args
d = kwargs.get('d', d_default_value)
e = kwargs.get('e', e_default_value)

In [ ]:
def say_hello_then_call_f(f, *args, **kwargs):
    print 'args is', args
    print 'kwargs is', kwargs
    print("Hello! Now I'm going to call %s" % f)
    return f(*args, **kwargs)

def g(x, y, z=1):
    return (x + y) / z

In [ ]:
In [8]:  say_hello_then_call_f(g, 1, 2, z=5.)
args is (1, 2)
kwargs is {'z': 5.0}
Hello! Now I'm going to call <function g at 0x2dd5cf8>
Out[8]: 0.6

### Currying: partial argument application

In [ ]:
def add_numbers(x, y):
    return x + y

In [ ]:
add_five = lambda y: add_numbers(5, y)

In [ ]:
from functools import partial
add_five = partial(add_numbers, 5)

In [ ]:
# compute 60-day moving average of time series x
ma60 = lambda x: pandas.rolling_mean(x, 60)

# Take the 60-day moving average of of all time series in data
data.apply(ma60)

### Generators

In [ ]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print key,

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

In [ ]:
list(dict_iterator)

In [ ]:
def squares(n=10):
    for i in xrange(1, n + 1):
        print 'Generating squares from 1 to %d' % (n ** 2)
        yield i ** 2

In [ ]:
In [2]: gen = squares()

In [3]: gen
Out[3]: <generator object squares at 0x34c8280>

In [ ]:
In [4]: for x in gen:
   ...:     print x,
   ...:
Generating squares from 0 to 100
1 4 9 16 25 36 49 64 81 100

In [ ]:
def make_change(amount, coins=[1, 5, 10, 25], hand=None):
    hand = [] if hand is None else hand
    if amount == 0:
        yield hand
    for coin in coins:
        # ensures we don't give too much change, and combinations are unique
        if coin > amount or (len(hand) > 0 and hand[-1] < coin):
            continue

        for result in make_change(amount - coin, coins=coins,
                                  hand=hand + [coin]):
            yield result

In [ ]:
for way in make_change(100, coins=[10, 25, 50]):
    print way
len(list(make_change(100)))

#### Generator expresssions

In [ ]:
gen = (x ** 2 for x in xrange(100))
gen

In [ ]:
def _make_gen():
    for x in xrange(100):
        yield x ** 2
gen = _make_gen()

In [ ]:
sum(x ** 2 for x in xrange(100))
dict((i, i **2) for i in xrange(5))

#### itertools module

In [ ]:
import itertools
first_letter = lambda x: x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    print letter, list(names) # names is a generator

## Files and the operating system

In [ ]:
path = 'ch13/segismundo.txt'
f = open(path)

In [ ]:
for line in f:
    pass

In [ ]:
lines = [x.rstrip() for x in open(path)]
lines

In [ ]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

open('tmp.txt').readlines()

In [ ]:
os.remove('tmp.txt')