# Data loading, storage, and file formats

In [ ]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import sys
import matplotlib.pyplot as plt
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

In [ ]:
%pwd

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## Reading and Writing Data in Text Format

In [ ]:
#!cat ch06/ex1.csv    # \ 으로 바꿔주기   # 첫줄은 데이터가 아님
!type ch06\ex1.csv

In [ ]:
df = pd.read_csv('ch06/ex1.csv')   # pandas  # 경로와 파일이름.
df

In [ ]:
pd.read_table('ch06/ex1.csv', sep=',')

In [ ]:
!type ch06\ex2.csv

In [ ]:
pd.read_csv('ch06/ex2.csv', header=None)
pd.read_csv('ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('ch06/ex2.csv', names=names, index_col='message')

In [ ]:
!type ch06\csv_mindex.csv
parsed = pd.read_csv('ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed

In [ ]:
list(open('ch06/ex3.txt'))

In [ ]:
result = pd.read_table('ch06/ex3.txt', sep='\s+')
result

In [ ]:
!type ch06\ex4.csv
pd.read_csv('ch06/ex4.csv', skiprows=[0, 2, 3])

In [ ]:
!type ch06\ex5.csv
result = pd.read_csv('ch06/ex5.csv')
result
pd.isnull(result)

In [ ]:
result = pd.read_csv('ch06/ex5.csv', na_values=['NULL'])
result

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('ch06/ex5.csv', na_values=sentinels)

### Reading text files in pieces

In [ ]:
!type ch06\ex6.csv

In [ ]:
result = pd.read_csv('ch06/ex6.csv')
result

In [ ]:
pd.read_csv('ch06/ex6.csv', nrows=5)     # 5개만~!

In [ ]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)
chunker      # pandas.io.parsers.TextFileReader 의 객체이다.   
# chunker 덩어리 : 1000개씩/

In [ ]:
chunker = pd.read_csv('ch06/ex6.csv', chunksize=1000)
                       # 굉장히 큰 파일 / 헤더 있고 / 10000개 있음     => 이것보다 크면 chunk 로 쪼개서 하면 나음
tot = Series([])
for piece in chunker:  # chunker 에서 한조각씩 빼서 
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    # 부분 부분 더해주고    # 칼럼명 key                   b가 몇개 / L이 몇개
    
tot = tot.sort_values(ascending=False)            # 그 부분부분을 정렬해줌 내림차순

In [ ]:
tot[:10]    # 10000건 중에서  상위 10건
tot[-10:]     # 끝에서 10개

In [ ]:
tot.sum()

In [ ]:
## 지금까지는 읽어오는 작업

### Writing data out to text format

In [ ]:
data = pd.read_csv('ch06/ex5.csv')
data

In [ ]:
data.to_csv('ch06/out.csv')        # 파일 새로 만들기
!type ch06\out.csv                # 헤더가 출력되고, 인덱스도 출력됨.

In [ ]:
data.to_csv(sys.stdout, sep='|')   # 출력할 파일의 경로와 조건을 넣어줌
            #출력대상이 표준출력으로 되어있음            # 수직 바로 구분 seperate
            # standard bar       
        # 중간에 null 값도 있음. => null 값이 잘 안보임

In [ ]:
data.to_csv(sys.stdout, na_rep='NULL')
                        # null representitive

In [ ]:
data.to_csv(sys.stdout, index=False, header=False) # 인덱스, 헤더 제외

In [ ]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])
                                     # a,b,c 까지만 보여주세요.

In [ ]:
dates = pd.date_range('1/1/2000', periods=7)       # 7개의 데이터를 보여주세요.
dates          # 시간의 범위  주가, 농산물 가격,

In [ ]:
ts = Series(np.arange(7), index=dates)   # 인덱스에 dates 자료를 넣어주면
ts    # 시리즈

In [ ]:
ts.to_csv('ch06/tseries.csv')
!type ch06\tseries.csv             # 자료를 csv로 바꿔줌

In [ ]:
!type ch06\tseries.csv
st1 = Series.from_csv('ch06/tseries.csv', parse_dates=True)            
                  # 시리즈로 만드는데, 2000-01-01을 날짜형로 perse 해주세요.                          
st1
st1.index                                                        # 날짜 데이터
st2 = Series.from_csv('ch06/tseries.csv', parse_dates=False)       
st2
st2.index                                                       # 그냥 문자

### Manually working with delimited formats

In [ ]:
!type ch06\ex7.csv

In [ ]:
import csv
f = open('ch06/ex7.csv')

reader = csv.reader(f)
reader

In [ ]:
for line in reader:
    print(line)         # 리스트

In [ ]:
lines = list(csv.reader(open('ch06/ex7.csv')))    # 반복 문 대신에 처리함.
lines

In [ ]:
header, values = lines[0], lines[1:]      # line의 0 첫번째 항목 = 헤더에 넣고, line의 나머지 항목 = values에 넣음
header
values                       # zip 헤더에서  a를 하나 갖고 오고, values에서 풀어짐.             #
data_dict = {h: v for h, v in zip(header, zip(*values))}    # zip([1,2],[3,4],[5,6])   => 1 3 5 / 2 4 6
                                       # zip *values 중첩리스트가 풀리고 zip([1,2,3],[1,2,3,4]) => 11 22 33 x / 짧은 걸로 반환됨.             
data_dict      # 판다스는 아무것도 안씀.

In [ ]:
?range

In [ ]:
r_dict = {'start' : 3, 'end': 10, 'step': 2}

In [ ]:
class my_dialect(csv.Dialect):  # 상위클래스가 됨
    lineterminator = '\n'       # 줄바꿈 문자
    delimiter = ';'           #
    quotechar = '"'          #
    quoting = csv.QUOTE_MINIMAL   # 변수값을 가져다 쓰겠다.

In [ ]:
with open('mydata.csv', 'w') as f:  
    writer = csv.writer(f, dialect=my_dialect)    # 구분자
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [ ]:
%cat mydata.csv

### JSON data

In [ ]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"], 
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
""" 
# 여러개니까

In [ ]:
import json
result = json.loads(obj)        # 파이썬의 사전으로 변환하는 것
result

In [ ]:
asjson = json.dumps(result)     # 파이썬의 사전을 json 으로 변환하는 것

In [ ]:
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings
siblings.to_json()       # pandas가 제공해주는 것
# 인덱스 / name / age

### XML and HTML, Web scraping

**NB. The Yahoo! Finance API has changed and this example no longer works**

In [ ]:
from lxml.html import parse
from urllib.request import urlopen

parsed = parse(urlopen('https://finance.yahoo.com/q/op?s=AAPL+Options'))

doc = parsed.getroot()

# SSL 에러뜸 : 보안을 강화시키는 것,

In [ ]:
links = doc.findall('.//a')
links[15:20]

In [ ]:
lnk = links[28]
lnk
lnk.get('href')
lnk.text_content()

In [ ]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]
urls[-10:]

In [ ]:
tables = doc.findall('.//table')
calls = tables[9]
puts = tables[13]

In [ ]:
rows = calls.findall('.//tr')

In [ ]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [ ]:
_unpack(rows[0], kind='th')
_unpack(rows[1], kind='td')

In [ ]:
from pandas.io.parsers import TextParser

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [ ]:
call_data = parse_options_data(calls)
put_data = parse_options_data(puts)
call_data[:10]

#### Parsing XML with lxml.objectify

In [ ]:
%cd ch06/mta_perf/Performance_XML_Data

In [ ]:
!head -21 Performance_MNR.xml

In [ ]:
from lxml import objectify

path = 'Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [ ]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [ ]:
perf = DataFrame(data)
perf

In [ ]:
root

In [ ]:
root.get('href')

In [ ]:
root.text

## Binary data formats

In [ ]:
cd ../..

In [ ]:
frame = pd.read_csv('ch06/ex1.csv')
frame
frame.to_pickle('ch06/frame_pickle')

In [ ]:
pd.read_pickle('ch06/frame_pickle')

### Using HDF5 format

In [ ]:
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

In [ ]:
store['obj1']

In [ ]:
store.close()
os.remove('mydata.h5')

### Interacting with HTML and Web APIs

In [ ]:
import requests
url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp = requests.get(url)
resp

In [ ]:
data[:5]

In [ ]:
issue_labels = DataFrame(data)
issue_labels

## Interacting with databases

In [ ]:
import sqlite3      # sqlite3 - 

# DDL 작성
query = """ 
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')
con.execute(query)
con.commit()             # 기록을 하겠다.

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"      
# 문장은 1개지만 데이터는 3건이 들어가있음.

con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()    # fetchall 다 가져와라.
rows

In [ ]:
cursor.description

In [ ]:
pd.DataFrame(rows, columns=list(zip(*cursor.description))[0])

In [ ]:
import pandas.io.sql as sql
sql.read_sql('select * from test', con)

In [ ]:
#Pandas with Oracle

In [ ]:
conda install sqlalchemy
conda install cx_oracle

In [12]:
import numpy as np
from pandas import DataFrame, Series
import pandas as pd

from sqlalchemy import create_engine
import cx_Oracle

In [13]:
engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/XE')
#engine = create_engine('oracle://scott:tiger@localhost:1521/XE')

In [17]:
with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('emp', conn)
    
    # 안된다면... 스콧유저 만들고, scott.sql. 파일 불러오고, 
    # scott 처음에 비밀번호는 TIGER 대문자로 되어있어서 소문자로 바꿔주는 작업을 해준다.
    #

In [15]:
data

    empno   ename        job     mgr   hiredate   sal    comm  deptno
0    7369   SMITH      CLERK  7902.0 1980-12-17   800     NaN      20
1    7499   ALLEN   SALESMAN  7698.0 1981-02-20  1600   300.0      30
2    7521    WARD   SALESMAN  7698.0 1981-02-22  1250   500.0      30
3    7566   JONES    MANAGER  7839.0 1981-04-02  2975     NaN      20
4    7654  MARTIN   SALESMAN  7698.0 1981-09-28  1250  1400.0      30
5    7698   BLAKE    MANAGER  7839.0 1981-05-01  2850     NaN      30
6    7782   CLARK    MANAGER  7839.0 1981-06-09  2450     NaN      10
7    7839    KING  PRESIDENT     NaN 1981-11-17  5000     NaN      10
8    7844  TURNER   SALESMAN  7698.0 1981-09-08  1500     0.0      30
9    7900   JAMES      CLERK  7698.0 1981-12-03   950     NaN      30
10   7902    FORD    ANALYST  7566.0 1981-12-03  3000     NaN      20
11   7934  MILLER      CLERK  7782.0 1982-01-23  1300     NaN      10